
<div class="grid-container">

    <div class="grid-x">
        <div class="large-6 large-offset-3 medium-8 medium-offset-2 small-10 small-offset-1 cell">
            <form class="vehicle-form" action="<%= vehicle_url(@vehicle) %>" method="POST">

                <h4 class="my-h4"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h4>

                <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="PATCH">

                <label for="year">Year
                    <input type="number" name="vehicle[year]" value="<%= @vehicle.year %>" id="year">
                </label>

                <label for="make">Make
                    <input type="text" name="vehicle[make]" value="<%= @vehicle.make %>" id="make">
                </label>

                <label for="model">Model
                    <input type="text" name="vehicle[model]" value="<%= @vehicle.model %>" id="model">
                </label>

                <label for="vin">VIN
                    <input type="text" name="vehicle[vin]" value="<%= @vehicle.vin %>" id="vin">
                </label>

                <label for="mileage">Mileage
                    <input type="number" name="vehicle[mileage]" value="<%= @vehicle.mileage %>" id="mileage">
                </label>

                <input class="button expanded" type="submit" value="Update">
            
            </form>

            <div class="back-button-wrapper">
                <a class="button small" href="/vehicles/<%= @vehicle.id %>">Back</a>
            </div>

        </div>
    </div>
</div>