<h1>Your Garage</h1>


<form action="<%= vehicles_url %>" method="POST">Add A Vehicle

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="year">Year
        <input type="number" name="vehicle[year]" value="" id="year" placeholder="Enter Year">
    </label>

    <label for="make">Make
        <input type="text" name="vehicle[make]" value="" id="make" placeholder="Enter Make">
    </label>

    <label for="model">Model
        <input type="text" name="vehicle[model]" value="" id="model" placeholder="Enter Model">
    </label>

    <label for="vin">VIN
        <input type="text" name="vehicle[vin]" value="" id="vin" placeholder="Enter VIN">
    </label>

    <label for="miles">Milage
        <input type="number" name="vehicle[miles]" value="" id="miles" placeholder="Enter Current Milage">
    </label>

    <input type="submit" value="submit">
    
</form>


<div>

    <ul>
    <% @vehicles.map do |vehicle| %>
        <li>
            <a href="<%= vehicle_url(vehicle) %>"><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a>  
            <form action="<%= vehicle_url(vehicle) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Remove Vehicle"/>
            </form>
            <a href="<%= edit_vehicle_url(vehicle) %>">Edit Vehicle</a>
        </li>
    <% end %>
    </ul>

</div>
