<!----------- button to launch modal to add a new vehicle --------------->
<div class="modal-button-wrapper">
    <p style="margin-bottom: 0;"><a style="margin-bottom:0;border-radius: 5px;" class="add button" href="#vehicleModal" rel="modal:open">Add Vehicle</a></p>
</div>


<!----------- Form to add a new vehicle --------------->
<div class="vehicle-form-wrapper modal" id="vehicleModal">
    <form class="vehicle-form" action="<%= vehicles_url %>" method="POST">

        <h3>Add A Vehicle</h3>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="year">Year
            <input type="number" name="vehicle[year]" value="" id="year" placeholder="Enter Year">
        </label>

        <label for="make">Make
            <input type="text" name="vehicle[make]" value="" id="make" placeholder="Enter Make">
        </label>

        <label for="model">Model
            <input type="text" name="vehicle[model]" value="" id="model" placeholder="Enter Model">
        </label>

        <label for="vin">VIN
            <input type="text" name="vehicle[vin]" value="" id="vin" placeholder="Enter VIN">
        </label>

        <label for="mileage">Mileage
            <input type="number" name="vehicle[mileage]" value="" id="mileage" placeholder="Enter Current Mileage">
        </label>

        <input type="submit" class="auth-submit expanded button" value="Add Vehicle">
        
    </form>
</div>


<!-- Creating vehicle grid -->
<div class="grid-container">
    <div class="grid-x grid-margin-x">

        <% @vehicles.map do |vehicle| %>
            <div class="vehicle-items large-4 medium-6 small-12 cell" id="<%= vehicle.id %>">

                <!-- Top row of vehicle item -->
                <div class="grid-x ">
                    <div class="small-10 small-offset-1 cell">
                        <h4 class="my-h4">
                            <a><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a>  
                        </h4>
                    </div>
                </div>

                <!-- Bottom row of vehicle item -->
                <div class="grid-container">
                    <div class="grid-x">

                        <!-- .flex-container and .align-center centers content in foundation cell -->
                        <div class="flex-container align-center small-6 cell">
                            <a class="button small xdf" href="<%= edit_vehicle_url(vehicle) %>">Edit Vehicle</a>                                            
                        </div>

                        <div class="flex-container align-center small-6 cell">
                            <form action="<%= vehicle_url(vehicle) %>" method="POST">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="_method" value="DELETE">
                                <input class="remove button small" type="submit" value="Remove Vehicle"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
