<h1 class="index-title">Your Garage</h1>

<div class="modal-button-wrapper">
    <p><a href="#vehicleModal" rel="modal:open">Add Vehicle</a></p>
</div>


<!----------- Form to add a new vehicle --------------->
<div class="vehicle-form-wrapper modal" id="vehicleModal">
    <form class="vehicle-form" action="<%= vehicles_url %>" method="POST">

        <h3>Add A Vehicle</h3>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="year">Year
            <input type="number" name="vehicle[year]" value="" id="year" placeholder="Enter Year">
        </label>

        <label for="make">Make
            <div class = "ui-widget">
                <input type="text" name="vehicle[make]" value="" id="make" placeholder="Enter Make">
            </div>
        </label>

        <label for="model">Model
            <input type="text" name="vehicle[model]" value="" id="model" placeholder="Enter Model">
        </label>

        <label for="vin">VIN
            <input type="text" name="vehicle[vin]" value="" id="vin" placeholder="Enter VIN">
        </label>

        <label for="mileage">Mileage
            <input type="number" name="vehicle[mileage]" value="" id="mileage" placeholder="Enter Current Mileage">
        </label>

        <input type="submit" class="auth-submit button" value="submit">
        
    </form>
</div>

<!-- Creating list elements for each vehicle -->
<div class="vehicle-items-list-wrapper">
    <ul class="vehicle-items-list">
        <% @vehicles.map do |vehicle| %>
            <li class="vehicle-items" id="<%= vehicle.id %>" >
                <h2 class="auth-h2">
                    <a class="vehicle-link" href="<%= vehicle_url(vehicle) %>"><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a>  
                </h2>
                <div class="vehicle-item-bottom-row">
                    <form action="<%= vehicle_url(vehicle) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="remove button small" type="submit" value="Remove Vehicle"/>
                    </form>

                    <a class="button small xdf" href="<%= edit_vehicle_url(vehicle) %>">Edit Vehicle</a>

                </div>
            </li>
        <% end %>
    </ul>
</div>




<script >

    // Stop Event Bubbling when clicking child element
    $('.xdf').click(function(e){
        e.stopPropagation();
    });

    // Change URL to vehicle show page on click
    $('.vehicle-items').click( (data) => {
        vehicleId = parseInt(data.currentTarget.id);
        window.location.href = `/vehicles/${vehicleId}`;
    });

    // Array of some vehicle makes
    var vehicleMakes = [
            "Audi",
            "Aston Martin",
            "Alfa Romeo",
            "Bentley", 
            "BMW",
            "Mercedes-Benz",
            "Ferrari",
            "Jaguar",
            "Volkswagen",
            "Porsche",
            "Sabb",
            "Volvo",
            "Fiat",
            "Ford",
            "Jeep",
            "GMC",
            "Tesla",
            "Nissan",
            "Toyota",
            "Honda",
            "Mazda",
            "Lexus"];

    // Using jquery autocomplete to search through an array
    // of possible vehilce makes 
    $(function($) {
        $("#make").autocomplete({
            source: vehicleMakes,
            
            // autofocus selects first menu item by default
            autoFocus: true,
        });
    });

</script>



