<h2><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>

<form action="<%= vehicle_maintenance_items_url(@vehicle) %>" method="POST">Add A Vehicle

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

     <label for="title">Title
        <input type="text" name="maintenance_item[title]" value="" id="title" placeholder="Enter Title">
    </label>

    <label for="date_preformed">Date Preformed
        <input type="date" name="maintenance_item[date_preformed]" value="" id="date_preformed" placeholder="Add Date Preformed">
    </label>

    <label for="current_mileage">Current Mileage
        <input type="number" name="maintenance_item[current_mileage]" value="" id="current_mileage" placeholder="Add Current Mileage">
    </label>

    <label for="comment">Comment
        <input type="text" name="maintenance_item[comment]" value="" id="comment" placeholder="Add Comment">
    </label>

    <label for="cost">Cost
        <input type="integer" name="maintenance_item[cost]" value="" id="cost" placeholder="Add Cost">
    </label>

    <input type="submit" value="Add Maintenance">
    
</form>

<ul>
    <% @vehicle.maintenance_items.map do |maintenance| %>
        <li>
            <%= maintenance.title %> <%= maintenance.date_preformed %> 
            <%= link_to "delete", [@vehicle, maintenance], :method  => :delete %>
        </li>
    <% end %>
</ul>



<a href="<%= vehicles_url %>">Back to your garage</a>