<h2 class="auth-h2" style="padding-top: 0%;"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>

<div class="modal-button-wrapper">
    <p><a href="#serviceModal" rel="modal:open">Add Service</a></p>
</div>

<div class="vehicle-form-wrapper modal" id="serviceModal">
    <form class="vehicle-form" action="<%= vehicle_maintenance_items_url(@vehicle) %>" method="POST">Add Service

        <h3>Add A Service</h3>


        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="title">Title
            <input type="text" name="maintenance_item[title]" value="" id="title" placeholder="Enter Title">
        </label>

        <label for="date_preformed">Date Preformed
            <input type="date" name="maintenance_item[date_preformed]" value="" id="date_preformed" placeholder="Add Date Preformed">
        </label>

        <label for="current_mileage">Current Mileage
            <input type="number" name="maintenance_item[current_mileage]" value="" id="current_mileage" placeholder="Add Current Mileage">
        </label>

        <label for="comment">Comment
            <input type="text" name="maintenance_item[comment]" value="" id="comment" placeholder="Add Comment">
        </label>

        <label for="cost">Cost
            <input type="integer" name="maintenance_item[cost]" value="" id="cost" placeholder="Add Cost">
        </label>

        <input type="submit" value="Add Maintenance">
        
    </form>
</div>
<div class="maintenance-items-wrapper">
    <% @vehicle.maintenance_items.map do |maintenance| %>
        <div class="maintenance-items">
            <div>
                <div><%= maintenance.title %></div>
            </div>
            <div>
                <div>Date: <%= maintenance.date_preformed %></div>
            </div>
            <div>
                <div>Miles: <%= maintenance.current_mileage %></div>
            </div>
            <div>
                <div>Cost: $<%= maintenance.cost %></div>
            </div>
            <div>
                <div  class="small button">
                    <%= link_to "delete", [@vehicle, maintenance], :method => :delete %>
                </div>
            </div>
        </div>
    <% end %>
</div>



<a href="<%= vehicles_url %>">Back to your garage</a>



<!-- Link to open the modal -->
<!-- <p><a href="#ex1" rel="modal:open">Open Modal</a></p> --> 



<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>