<div style="position: relative;">
    <button class="vehicle close-button" aria-label="Close alert" type="button" id="<%= @vehicle.id %>">
        <span aria-hidden="true">&times;</span>
    </button>

    <button class="vehicle edit-button" type="button" id="<%= @vehicle.id %>">
        <span><i class="fas fa-cogs" aria-hidden="true"></i></i></span>
    </button>

    <h2 class="auth-h2" style="padding-top: 0%;"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>

    <div class='maintenance-items-grid grid-container container-padding-y'>
        <div class="grid-x ">
            <div class="service-header flex-container align-center small-6 medium-6 large-6 cell">
                Current Mileage
            </div>

            <div class="service-header flex-container align-center small-6 medium-6 large-6 cell">
                VIN
            </div>
        </div>

        <div class="grid-x">
            <div class="flex-container align-center small-6 medium-6 large-6 cell">
                <div><%= @vehicle.mileage %></div>
            </div>

            <div class="flex-container align-center small-6 medium-6 large-6 cell">
                <div><%= @vehicle.vin %></div>
            </div>

        </div>
    </div>

 
    <!-- Creating list elements for each maintenance item -->
    <div class="maintenance-items-grid grid-container">
        <div class="grid-x grid-margin-y">
            <div class="service-header small-offset-1 small-4 cell">
                Date
            </div>

            <div class="service-header small-4 end cell">
                Title
            </div>

        </div>
        <% @vehicle.maintenance_items.map do |maintenance| %>
            <div class="maintenance-items grid-x grid-margin-y" style="position: relative;" id="<%= maintenance.id %>">
                <div class="small-offset-1 small-4 cell">
                    <%= maintenance.date_preformed %>
                </div>

                <div class="small-4 end cell">
                    <%= maintenance.title %>
                </div>

                <button class="service close-button" aria-label="Close alert" type="button" id="<%= maintenance.id %>">
                    <span id="<%= @vehicle.id %>" aria-hidden="true">&times;</span>
                </button>

                <button class="service edit-button" type="button" id="<%= maintenance.id %>">
                    <span id="<%= @vehicle.id %>"><i class="fas fa-cogs" aria-hidden="true"></i></i></span>
                </button>



            </div>
        <% end %>
    </div>

    <!----------- button to launch modal to add maintenance --------------->
    <p class="my-p"><a class="button small" href="#serviceModal" rel="modal:open">Add Maintenance</a></p>

</div>


<script>

    // Stop Event Bubbling when clicking child element    
    //$('.xdf').click(function(e){
    //    e.stopPropagation();
    //});

    //$('.maintenance-items').click( (data) => {
    //    const maintenance_id = parseInt(data.currentTarget.id);
    //    const urlArr = window.location.href.split('/');
    //    const vehicleId = parseInt(urlArr.pop());
    //    window.location.href = `/vehicles/${vehicleId}/maintenance_items/${maintenance_id}`;
    //});
    
    // Remove vehicle when clicking on "X" button
    $(function() {
        $(document).on('click','.vehicle.close-button',function(){
            const velicle_id = $(this).attr("id");
            if(confirm("Are you sure you want to remove this vehicle?")){
                $.ajax({
                    type: "DELETE",

                    // CSRF authenticity token
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},

                    url: `/vehicles/${velicle_id}`,
                });
            }
            return false;
        });
    });

    // edit button renders edit view for vehicle
    $(function() {
        $(document).on('click', '.vehicle.edit-button', function(){
            const vehicle_id = $(this).attr('id');
            window.location.href = `/vehicles/${vehicle_id}/edit`
        });
    });

    
    // Remove maintenance item when clicking on "X" button
    $(function() {
        $(document).on('click','.service.close-button',function(data){
            const velicle_id = data.currentTarget.children[0].id;
            const maintenance_id = $(this).attr("id");
            if(confirm("Are you sure you want to remove this service?")){
                $.ajax({
                    type: "DELETE",

                    // CSRF authenticity token
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},

                    url: `/vehicles/${velicle_id}/maintenance_items/${maintenance_id}`,
                });
            }
            return false;
        });
    });

    // edit button renders edit view for vehicle
    $(function() {
        $(document).on('click', '.service.edit-button', function(data){
            const velicle_id = data.currentTarget.children[0].id;
            const maintenance_id = $(this).attr('id');
            window.location.href = `/vehicles/${velicle_id}/maintenance_items/${maintenance_id}/edit`
        });
    });

    

</script>

<!----------- Modal to add a new maintenance --------------->
<div class="vehicle-form-wrapper modal" id="serviceModal">
    <form class="vehicle-form" action="<%= vehicle_maintenance_items_url(@vehicle) %>" method="POST">

        <h3>Add Maintenance</h3>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="title">Title
            <input type="text" name="maintenance_item[title]" value="" id="title" placeholder="Enter Title">
        </label>

        <label for="date_preformed">Date Preformed
            <input type="date" name="maintenance_item[date_preformed]" value="" id="date_preformed" placeholder="Add Date Preformed">
        </label>

        <label for="current_mileage">Current Mileage
            <input type="number" name="maintenance_item[current_mileage]" value="" id="current_mileage" placeholder="Add Current Mileage">
        </label>

        <label for="comment">Comment
            <input type="text" name="maintenance_item[comment]" value="" id="comment" placeholder="Add Comment">
        </label>

        <label for="cost">Cost
            <input type="number" name="maintenance_item[cost]" value="" id="cost" placeholder="Add Cost">
        </label>

        <input type="submit"  class="auth-submit expanded button" value="Add Maintenance">
        
    </form>
</div>
