<h2 class="auth-h2" style="padding-top: 0%;"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>


<!----------- button to launch modal to add maintenance --------------->
<div class="modal-button-wrapper">
    <p><a href="#serviceModal" rel="modal:open">Add Maintenance</a></p>
</div>

<!----------- Modal to add a new maintenance --------------->
<div class="vehicle-form-wrapper modal" id="serviceModal">
    <form class="vehicle-form" action="<%= vehicle_maintenance_items_url(@vehicle) %>" method="POST">

        <h3>Add Maintenance</h3>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="title">Title
            <input type="text" name="maintenance_item[title]" value="" id="title" placeholder="Enter Title">
        </label>

        <label for="date_preformed">Date Preformed
            <input type="date" name="maintenance_item[date_preformed]" value="" id="date_preformed" placeholder="Add Date Preformed">
        </label>

        <label for="current_mileage">Current Mileage
            <input type="number" name="maintenance_item[current_mileage]" value="" id="current_mileage" placeholder="Add Current Mileage">
        </label>

        <label for="comment">Comment
            <input type="text" name="maintenance_item[comment]" value="" id="comment" placeholder="Add Comment">
        </label>

        <label for="cost">Cost
            <input type="number" name="maintenance_item[cost]" value="" id="cost" placeholder="Add Cost">
        </label>

        <input type="submit"  class="auth-submit button" value="Add Maintenance">
        
    </form>
</div>


<!-- Creating list elements for each maintenance item -->
<div class="maintenance-items-wrapper" id="maintenance-items-wrapper">
    <% @vehicle.maintenance_items.map do |maintenance| %>
        <div class="maintenance-items" id="<%= maintenance.id %>">
            <a href="#vehicleModal" rel="modal:open"></a>
            
            <div class="maintenance-left">
                <div >
                    <div class="maintenance-item-title" data="Hello"><%= maintenance.title %></div>
                </div>
                <div>
                    <div> Date: <%= maintenance.date_preformed %></div>
                </div>
                <div>
                    <div>Miles: <%= maintenance.current_mileage %></div>
                </div>
            </div>
            <div class="maintenance-right">

                    <form action="<%= vehicle_maintenance_item_url(@vehicle, maintenance) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="my-remove remove button small" type="submit" value="Remove"/>
                    </form>

                    <a class="auth-submit button small xdf" href="<%= edit_vehicle_maintenance_item_url(@vehicle, maintenance) %>">Edit</a>

            </div>
        </div>
    <% end %>
</div>



<div class="back-button-wrapper">
    <a class="back-button button" href="<%= vehicles_url %>">Back to your garage</a>
</div>

<!----------- JQuery --------------->
<script>

    // Stopping Event Bubbling
    $('.xdf').click(function(e){
        e.stopPropagation();
    });

    $('.maintenance-items').click( (data) => {
        const maintenance_id = parseInt(data.currentTarget.id);
        const urlArr = window.location.href.split('/');
        const vehicleId = parseInt(urlArr.pop());
        window.location.href = `/vehicles/${vehicleId}/maintenance_items/${maintenance_id}`;
     });

</script>