<h2 class="auth-h2" style="padding-top: 0%;"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>

<div class="modal-button-wrapper">
    <p><a href="#serviceModal" rel="modal:open">Add Maintenance</a></p>
</div>

<div class="vehicle-form-wrapper modal" id="serviceModal">
    <form class="vehicle-form" action="<%= vehicle_maintenance_items_url(@vehicle) %>" method="POST">

        <h3>Add Maintenance</h3>


        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="title">Title
            <input type="text" name="maintenance_item[title]" value="" id="title" placeholder="Enter Title">
        </label>

        <label for="date_preformed">Date Preformed
            <input type="date" name="maintenance_item[date_preformed]" value="" id="date_preformed" placeholder="Add Date Preformed">
        </label>

        <label for="current_mileage">Current Mileage
            <input type="number" name="maintenance_item[current_mileage]" value="" id="current_mileage" placeholder="Add Current Mileage">
        </label>

        <label for="comment">Comment
            <input type="text" name="maintenance_item[comment]" value="" id="comment" placeholder="Add Comment">
        </label>

        <label for="cost">Cost
            <input type="number" name="maintenance_item[cost]" value="" id="cost" placeholder="Add Cost">
        </label>

        <input type="submit"  class="auth-submit button" value="Add Maintenance">
        
    </form>
</div>
<div class="maintenance-items-wrapper">
    <% @vehicle.maintenance_items.map do |maintenance| %>
        <div class="maintenance-items" key="<%= maintenance.id %>" onClick={this.handleClickVehicle.bind(this)}>
            <div class="maintenance-left">
                <div >
                    <div class="maintenance-item-title"><%= maintenance.title %></div>
                </div>
                <div>
                    <div> Date: <%= maintenance.date_preformed %></div>
                </div>
                <div>
                    <div>Miles: <%= maintenance.current_mileage %></div>
                </div>
            </div>
            <div class="maintenance-right">
                    <form action="<%= vehicle_maintenance_item_url(@vehicle, maintenance) %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="my-remove remove button small" type="submit" value="Remove"/>
                    </form>

                    <a class="auth-submit button small" href="<%= edit_vehicle_maintenance_item_url(@vehicle, maintenance) %>">Edit</a>

            </div>
        </div>
    <% end %>
</div>



<a href="<%= vehicles_url %>">Back to your garage</a>



<!-- Link to open the modal -->
<!-- <p><a href="#ex1" rel="modal:open">Open Modal</a></p> --> 



<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>