

<div style="position: relative;">
    <!-- vehicle delete button -->
    <button class="vehicle close-button" aria-label="Close alert" type="button" id="<%= @vehicle.id %>">
        <span aria-hidden="true">&times;</span>
    </button>

    <!-- vehicle edit button -->
    <button class="vehicle edit-button" type="button" id="<%= @vehicle.id %>">
        <span><i class="fas fa-cogs" aria-hidden="true"></i></i></span>
    </button>

    <h2 class="auth-h2" style="padding-top: 0%;"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>


    <div class='maintenance-items-grid grid-container container-padding-y'>

        <!-- vehicle details header -->
        <div class="grid-x ">
            <div class="service-header flex-container align-center small-6 medium-6 large-6 cell">
                Current Mileage
            </div>

            <div class="service-header flex-container align-center small-6 medium-6 large-6 cell">
                VIN
            </div>
        </div>


        <div class="grid-x">
            <div class="flex-container align-center small-6 medium-6 large-6 cell">
                <div><%= @vehicle.mileage %></div>
            </div>

            <div class="flex-container align-center small-6 medium-6 large-6 cell">
                <div><%= @vehicle.vin %></div>
            </div>

        </div>
    </div>

 
    <!-- Creating list elements for each maintenance item -->
    <div class="maintenance-items-grid grid-container">

        <% unless @vehicle.maintenance_items.empty? %>

        <% end %>

        <!-- listing all maintenance items -->
        <% @vehicle.maintenance_items.map do |maintenance| %>


            <div class="grid-x grid-margin-y">
                <h4 class="my-h4"><%= maintenance.title.capitalize %></h4>
            </div>


            <!-- maintenance items header -->
            <div class="grid-x">

                <div class="service-header small-4 cell">
                    Date
                </div>

                <div class="service-header small-4 end cell">
                    Mileage
                </div>

                <div class="service-header small-4 end cell">
                    Cost
                </div>

            </div>

            <div class="maintenance-items grid-x grid-margin-y" style="position: relative;" id="<%= maintenance.id %>">


                <div class="small-4 cell">
                    <%= maintenance.date_preformed %>
                </div>

                <div class="small-4 cell">
                    <%= maintenance.current_mileage %>
                </div>

                <div class="small-4 cell">
                    <%= maintenance.cost %>
                </div>


                <!-- maintenance delete button -->
                <button class="service close-button" aria-label="Close alert" type="button" id="<%= maintenance.id %>">
                    <span id="<%= @vehicle.id %>" aria-hidden="true">&times;</span>
                </button>

                <!-- maintenance edit button -->
                <button class="service edit-button" type="button" id="<%= maintenance.id %>">
                    <span id="<%= @vehicle.id %>"><i class="fas fa-cogs" aria-hidden="true"></i></i></span>
                </button>



            </div>
        <% end %>
    </div>

    <!----------- button to launch modal to add maintenance --------------->
    <p class="my-p"><a class="button small" href="#serviceModal" rel="modal:open">Add Maintenance</a></p>

    <!----------- Modal to add a new maintenance --------------->
    <%= render 'layouts/new_maintenace_form' %>

</div>
