
<div class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="cell medium-3">
      <ul class="vertical tabs" data-tabs id="vehicle-tabs">
        <% current_user.vehicles.map do |vehicle| %>
            <li class="my-tabs tabs-title"><a style="font-size: 18px; border-bottom: 1px solid black;" class="tabs-a" href="/vehicles/<%= vehicle.id %>"><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a>
            </li>
        <% end %>

        <!----------- button to launch modal to add a new vehicle --------------->
        <p class="my-p"><a class="button small" href="#vehicleModal" rel="modal:open">Add Vehicle</a></p>
      </ul>

      
    </div>

    <div class="cell medium-9">
      <div class="tabs-content" data-tabs-content="vehicle-tabs">
        <%= yield %>
      </div>
    </div>
  </div>

</div>

<%= render 'layouts/new_vehicle_form' %>
