<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Garage App</title>
    <%= favicon_link_tag asset_path('default-thumbnail.png') %>
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
    <!-- jQuery Autocomplete -->
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!-- jQuery migrate 3.0 conflicts foundation -->
    <!-- using older migrate version -->
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script> 

    <script>
      console.log(`
    __  ___ ___    ______
   /  |/  //   |  / ____/
  / /|_/ // /| | / /     
 / /  / // ___ |/ /___   
/_/  /_//_/  |_|\____/   
                         
          `)
    </script>
    
  </head>

  <body>

  <div class="main">


    <% if logged_in? %>
      <!-- Mini navbar -->
        <div class="navbar grid-x">  

          <!-- left side of navbar -->
          <div class="flex-container text-center align-center small-3 cell">
            <h5 style="margin-bottom: 0;">Welcome, <%= current_user.first_name %>!</h5>
          </div>

          <div class="flex-container text-center align-center small-6 cell">
            <h4 id="garage" style="margin-bottom: 0;">Your Garage</h4>
          </div>

          <!-- right side of navbar -->
          <div class="flex-container text-center align-center small-3 cell">
            <%= link_to "Log Out", "session", :method => :delete, :data => {:confirm => "Are you sure you want to log out?"} %>
          </div>
        
        </div>
    <% end %>

    <% if flash[:errors] %>

      <div class="grid-x">
        <div class="large-6 large-offset-3 medium-8 medium-offset-2 small-10 small-offset-1 cell">
          <div id="error-modal" class="callout alert small" data-closable>

            <h4>Something went wrong...</h4>
          
              <% flash[:errors].map do |error| %>
                <div><%= error %></div>
              <% end %>

            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>

          </div>

        </div>


      </div>

    <% end %>

    <%= yield %>
  </div>

  </body>
</html>
