<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My Garage</title>
    <%= favicon_link_tag asset_path('default-thumbnail.png') %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
    <!-- jQuery Autocomplete -->
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script> 
    <script>
      console.log(`
    __  ___ ___    ______
   /  |/  //   |  / ____/
  / /|_/ // /| | / /     
 / /  / // ___ |/ /___   
/_/  /_//_/  |_|\____/   
                         
          `)
    </script>
  </head>

  <body>


    <% if logged_in? %>
      <div class="current-user-wrapper">
        <h3>
          Welcome, <%= current_user.first_name %>!
        </h3>
        <%= link_to "Log Out", "session", :method => :delete, :data => {:confirm => "Log Out?"} %>
      </div>
    <% end %>

    <% if flash[:errors] %>
      <div id="error-modal" class="callout alert small" data-closable>
        <h4>Something went wrong...</h4>
        
        <div class="errors-wrapper">
          <% flash[:errors].map do |error| %>
            <li><%= error %></li>
          <% end %>
        </div>

        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

  


  </body>
</html>
